.sidebar {
  height: calc(100vh - 70px);
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 1rem;
}

.left-sidebar {
  grid-area: left-sidebar;
  border-right: 0.5px solid rgb(39, 57, 28);
}

.right-sidebar {
  grid-area: right-sidebar;
  border-left: 0.5px solid rgb(39, 57, 28);
}
