.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  display: flex;
  width: 30%;
}

.left-sidebar {
  left: 0;
  border-right: 0.5px solid var(--border-color);
}

.right-sidebar {
  right: 0;
  border-left: 0.5px solid var(--border-color);
}
